<% include ../../partials/header %>
  <% include ../../partials/nav %>
    <div class="row main-content">
      <div class="container">
        <div class="row">
          <div class="col sub-header">
            <h2>Admin Panel</h2>
          </div>
        </div>
        <div class="row">
          <div class="col text-right margin-bottom">
            <a class="btn btn-secondary" href="/shop/new">Add Product to Shop</a>
          </div>
        </div>
        <% for(let i = 0; i < shop.length; i++){ %>
          <div class="row">
            <div class="col-md-3 col-4 products">
              <img src="<%= shop[i].img %>" class="img-fluid" />
            </div>
            <div class="col-md-6 col-4">
              <p>
                <%= shop[i].name %>
              </p>
              <p>
                <%= shop[i].qty %>
              </p>
              <p>$
                <%= shop[i].price %>
              </p>
            </div>
            <div class="col-md-3 col-4 text-right">
              <a href="/shop/<%= shop[i].id %>/edit">Edit</a>
            </div>
            <form action="/shop/<%= product.id %>?_method=DELETE" method="POST">
              <input class="navbar-brand" type="submit" value="Delete" />
            </form>
          </div>
          <% } %>
      </div>
    </div>
    <% include ../../partials/footer %>
