<% include ../partials/header %>
  <% include ../partials/prenav %>
  <% include ../partials/nav %>
    <div class="container main-content">
      <div class="row">
        <div class="col sub-header">
          <a href="/shop">Go Back</a>
        </div>
      </div>
      <div class="row">
        <div class="col sub-header">
          <h2><%= product.name %></h2>
        </div>
        <div class="row product-info">
          <div class="col-md-5 col-12">
            <img class="img-fluid" src="<%= product.img %>" />
          </div>
          <div class="col-md-5 col-10 offset-1">
            <h3>Description:</h3>
            <p>
              <%= product.description %>
            </p>
            <div class="row">
              <div class="col">
                <h3>Price: </h3>
              </div>
              <div class="col">
                <h3 class="text-right">$ <%= product.price %></h3>
              </div>
            </div>
            <% if (product.qty > 0) { %>
              <form action="/shop/<%= product.id %>/add-to-cart" method="GET">
                <input type="submit" value="Add To Cart" class="btm btn-primary" />
              </form>
              <% } else { %>
                <h3 class="no-stock">Out of Stock</h3>
                <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
